<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!--알리아스 설정 -->
<!-- 		<typeAlias type="vo.PageVO" alias="PageVO" /> -->
	<typeAliases>
		<typeAlias type="vo.User" alias="User" />
	</typeAliases>

	<!--맵퍼 설정 -->
<!-- 		<mapper resource="mapper/first.xml" /> -->
	<mappers>
		<mapper resource="mapper/user.xml" />
	</mappers>

</configuration>